<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Year Machine</title>
  </head>
  <body>
    <p>Welcome to FaceDate - connecting the world, two faces at a time! (The current year is <%= Time.now.year %>, just in case you were wondering)</p>
    <br>

    <p>Create a profile and then face off against competitors to swoon your perfect face-mate!</p>

    <form action="/profile">
      Paste the URL of a picture of your face
      <input name="face-url"><br>
      What is your face name?
      <input name="face-name"><br>
      <br>
      What is your email address?
      <input name="face-mail"><br>
      <br>
      Do you prefer big or small faces?
      <input name="face-size"><br>
      <br>
      If you could be with someone who had the face of an animal, what animal-face would that person have?
      <input name="animal-face"><br>
      <br>
      What is your favorite non-face part of the body?
      <input name="non-face-body-part"><br>
      <br>
      How would you best describe your face?
      <input name="face-description"><br>
      <br>
      If your face could go anywhere in the world, where would you send it?
      <input name="face-place"><br>
      <br>
      What is your favorite expression to make with your face?
      <input name="express-yo-face"><br>
      <br>
      <button type="submit">Generate Madlib</button>
      <br>
    </form>

  </body>
</html>
